body{
  background-color: bisque;
}

.Navigation .Banner{
  background-image: url("./static/navigation/banner.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 200px;
}

.Navigation .ui.menu{
  margin-top: 0% !important;  /*Override default Semantic-UI ui.menu margin setting*/
}

.Navigation .ui.message{
  background-color: rgba(170, 170, 170, 0.8) !important;
}
